.navbar{
    display: flex;
    height: 5vh;
    font-family: "Roboto", serif;
    background-color: rgb(169, 189, 206);
    

}
.logo{
    flex: 1;
    height: 100px;

}
img{
    width: 50px;
}
.menu{
    flex: 3;
    
}
.menu ul{
    display: flex;
    gap: 30px;

}
.menu ul li a{
    text-decoration: none;
    list-style-type: none;
   
    
}
.menu ul li:hover{
    background-color: green;
    transform: scale(1.4);
    color: white;
   
}
.boy{
    height: 400px;
    width: 400Px;
    display: flex;
    text-align: center;
}
